*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px 40px;
}
#nav-part1{
    display: flex;
    justify-content: space-between;
    width: 40%;
}
#nav-part2{
    display: flex;
    justify-content: space-between;
    width: 35%;
}
#nav h3{
    font-size: 24px;
    font-weight: 600;
}
#nav h2{
    font-size: 24px;
    font-weight: 600;
}
#nav h4{
    font-size: 24px;
    font-weight: 600;
}
#content{
    margin-top: 60px;
    padding: 35px 65px;
}
#content h3{
    font-size: 35px;
    font-weight: 600;
}
#content h1{
    font-size: 110px;
    font-weight: 500;
    line-height: 115px;
    margin-top: 30px;
    letter-spacing: -3px;
    word-spacing: 10px;
}
#case{
    padding: 40px 65px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#case h4{
    font-size: 22px;
    font-weight: 500;
}
#case h5{
    font-size: 22px;
    font-weight: 500;
}
#right{
    display: flex;
    align-items: center;
    gap: 40px;
}
#line{
    height: 2px;
    width: 160px;
    background-color: #000;
}
#projects{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 65px;
    gap: 60px;
}
.elem{
    width: 50%;
}
.elem-img{
    height: 600px;
    width: 100%;
    background-color: rgba(121, 204, 230, 0.808);
    border-radius: 30px;
    background-size: cover;
    background-position: center;
}
#img1{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8X7I3g45XoXsNNIm_UavymoLtct1k6AyIaIkNVyc9NcKg6vZg);
}
#img2{
    background-image: url(https://cdn.dribbble.com/users/6579372/screenshots/18149976/media/e5d611cbbf9c08a82fc195cf419e1b06.png?resize=768x576&vertical=center);
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}
.bottom i{
    padding: 14px 30px;
    font-size: 20px;
    border: 2px solid #000;
    border-radius: 50px;
    font-weight: 800;
}
.bottom i:hover{
    background-color: #000;
    color: #fff; 
}
.bottom h2{
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 10px;
}
.bottom h4{
    font-size: 18px;
    font-weight: 500;
    color: #575757;
}


